<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/edit.css">
<h1>Edit</h1>

<% if (user) { %>
    <form id="add-review-form" method="POST"
    action="/sneakers/<%= sneaker._id %>/reviews/<%= review.id %>?_method=PUT">
      <label>Review:</label>
      <textarea name="content" value="<%= review.content %>"><%= review.content %></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input type="submit" value="Update Review">
    </form>
  <% } %>

<%- include('../partials/footer') %>